.green {
  background-color:  #008D39!important;

}

.search-container{
  border-bottom:1px solid #008D39!;
}

.input-group{
  margin-bottom: 1em;
}
.headercart{
  color:white;
}
.search-box{
  display:inline-block;
    padding:15px 10px;
    line-height:140%;
    margin-bottom:2%;
}
.search-icon{

  pointer-events: none;
}
.nav-row{
  margin: 0 auto;
}
.nav-row col-1{
  padding:2em;
}

#contact-form-container{
width:30%;
}

@media only screen and (max-width: 900px) {
.nav-row{
  width: 100%;
  margin: 0 auto;
}
}
@media only screen and (min-width: 901px) {
  .nav-row{
    width: 60%;
    margin: 0 auto;
  }
  }
.nav-item{
  font-size: 0.7vw;
}
.navbar-toggler-icon{
  
  font-size: 16pt;
}
.card-header{
background-color:  #008D39!important;

}

.global-container{
    padding-top:0;
}


.navbar-toggler-icon{
    z-index: 20;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    color: #fff;
    background-color: #008D39;
    border-color: #008D39;
   
}
#contact-us, h5{
  text-align: center;
}
.social-links{
    display: flex;
    justify-content: center;
  }

.social-links li{
  display: inline-block;
  float: left;
  margin: 0 auto;
  width: 23%;
  text-align: center;
}
.social-links li a{
margin: 0 auto;
text-align: center;
}
#header-container {
  height:10%;
  
  line-height: 16px;
}
.navbar {
   background-color: #008D39;
   margin: auto;
  }
  navbar-form{
    left: 5em;
    width: 153%;
    vertical-align: center;
  }
.nav-link{
  margin: 2em;
}
.nav-link a, i{
  text-align: center;
}
#contact-form_container{
width:30%;

}

/*
#menu-toggler{

 /* position: absolute; 
  left:60%;
  top: 10%;
  z-index:20;
}

*/
#container {
  background: steelblue;
  width: 333px;
  height: 500px;
  
}

/* makes pictures fit the boxes */
.recipe-figure, .seedlings-figure{
  
  width: 100%;
  height: 100%;
}
picture {
  width: 100%;
  height: 100%;
  display: flex;
 
}
picture img {
 object-fit: cover; 
    height: auto;
    width:100%;
}

#side-container ul{
  text-align: end;
  list-style:none;
}
/*top navigation button width */
@media screen and (min-width: 992px) {
a.btn.btn-outline-light{
  width:6em;
}

}
#side ul li{
list-style:none;
text-align:right;
}
#side ul li a{
  color:white;
}
.input-group-btn{
  margin-left: 0.5em;
}
#search-container{
  padding:1em 20%;
}


.basket-container{
float:right;
margin-right: 25%;
margin-top: 2%;
}
.basket-drop{
    z-index: 10;
}
#headercart{
  color:white;
}

#navbar-top{
    position: absolute;
    bottom:0;
    left:35%;
}
.navbar-nav{
    flex-direction:row;
    padding:0;
}
.nav-item{
    display:inline-block;
    flex-direction:row;
    margin-left:3%;
    margin-top: 3%;
}

#navbar {

  margin: 0 auto;
}
.navbar .navbar-nav {
  display:block;
  margin:0 auto;
}

.navbar .navbar-collapse {
  text-align: center;
}
footer {
  background-color: #008D39;
    bottom: 0;
    width: 100%;
}

.image-links{
  padding:4rem;
}

#header-cart-btn{
color:grey;
border: grey solid 3px;
}

#side-container ul{
  padding:0;
}

#aside-container{
  margin-bottom:5em !important;
}
@media screen and (max-width: 900px) {
  
 
#sidebar {
   display:none;
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position:fixed;
    z-index: 10; /* Stay on top */
     top:9%;
    left: 0;
    margin:0;
    background-color: #008D39;
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    border-radius: 10px;
}


#sidebar-close i{
  font-size: 2em;
  float: right;
  color:white;
  margin-right:1em;
  display:inline-block;
}
 
#side-container{
  margin-bottom:5em !important;
}

}
@media screen and (min-width: 900px) {
 
  .sidenav{
    border-radius:20px;
  }
 #sidebar{ display: block;
  display: block;
  height: 100%;
  width: 14%;
  position: relative;
  z-index: 10;
  top: 9%;
  left: 0;
  margin-top: 8%;
  background-color: #008D39;
  overflow-x: hidden;
  transition: 0.5s;
  float: left;
  margin-right: 5%;
  margin-left:3%;
  border-radius:5px;
  margin-right:3em;
 }



#sidebar-close{
  visibility: hidden;
}
#sidebar-close .fa{
  font-size: 24px;
  float: right;
 
  
}
}
  .navbar-brand{
    width:85%;
  }
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  .fa-rss{
    background: #f26522;
    color: white;
}
  
  #basket-number{
    color:white;
  }
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  .contact-link{
    color:white;
  }

    #logo {
      width: 100%;
      display: block;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  


/* Admin style */
.container-padded-10{

  padding:5em;
}
#contact-form-container{
width:60%;
}
